### Air quality measurements
* [air-quality-measurements](https://greentechdev.github.io/data/air-quality-measurements/)
* this [notebook](https://github.com/salgo60/checkgreentechdev.github/blob/main/Air%20quality%20measurements.ipynb)
* testar [greentechdev.github.io](https://greentechdev.github.io/)
  * min [feedback](https://github.com/greentechdev/source/issues/3)

In [1]:
import urllib3, json
import pandas as pd 
http = urllib3.PoolManager() 
urlbase = "https://datavardluft.smhi.se/52North/api/v1/"
#/timeseries 
url = urlbase + "timeseries"
r = http.request('GET', url) 
data = json.loads(r.data.decode('utf-8'))

In [2]:
df = pd.DataFrame(data)  
df.head()

     id  ... parameters
0  5075  ...         {}
1    33  ...         {}
2    48  ...         {}
3    47  ...         {}
4    49  ...         {}

[5 rows x 5 columns]

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4610 entries, 0 to 4609
Data columns (total 5 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          4610 non-null   object
 1   label       4610 non-null   object
 2   uom         4610 non-null   object
 3   station     4610 non-null   object
 4   parameters  4610 non-null   object
dtypes: object(5)
memory usage: 180.2+ KB

In [4]:
df.label.value_counts()

PM10 SPP-SE_TEOM_TEOM1400AB, Göteborg Friggagatan 10 - 1494, SPP-SE_TEOM_TEOM1400AB                1
Mg++ SPP-SE00175_00660_101_100, Boa-Berg - 2978, SPP-SE00175_00660_101_100                         1
Pyrene in PM10 (aerosol) SPP-SE0042A_05715_100_100, Karlskoga - 3371, SPP-SE0042A_05715_100_100    1
SO2 SPP-SE_IC_DIFFUSION_TUBE, Kindlahöjden Tf - 1030, SPP-SE_IC_DIFFUSION_TUBE                     1
K+ SPP-SE0095R_00658_100_100, Pålkem - 3655, SPP-SE0095R_00658_100_100                             1
                                                                                                  ..
Dibenzo(ah)anthracene SPP-SE0116A_00763_100_100, Hallahus - 4182, SPP-SE0116A_00763_100_100        1
k SPP-SE00175_00412_101_100, Boa-Berg - 2976, SPP-SE00175_00412_101_100                            1
TP SPP-SE00601_02771_100_100, Jädraås - 4920, SPP-SE00601_02771_100_100                            1
C6H5-CH3 SPP-SE00132_00021_100_100, Kalix - 2688, SPP-SE00132_00021_100_100                        1
Co in PM10 SPP-SE159388_05064_100_100, Norunda Stenen - 4735, SPP-SE159388_05064_100_100           1
Name: label, Length: 4610, dtype: int64

In [5]:
pd.set_option("display.max.columns", None)
df

,id,label,uom,station,parameters
0,5075,(CH3)2-CH-CH2-CH2-CH3 SPP-SE0004A_00316_100_10...,µg/m3,"{'type': 'Feature', 'id': '4642', 'properties'...",{}
1,33,(CH3)3-C-CH2-CH-(CH3)2 SPP-SE0004A_00449_100_1...,µg/m3,"{'type': 'Feature', 'id': '73', 'properties': ...",{}
2,48,"1,2,3-C6H3(CH3)3 SPP-SE0004A_06012_100_100, Gö...",µg/m3,"{'type': 'Feature', 'id': '81', 'properties': ...",{}
3,47,"1,2,4-C6H3(CH3)3 SPP-SE0004A_06011_100_100, Gö...",µg/m3,"{'type': 'Feature', 'id': '80', 'properties': ...",{}
4,49,"1,3,5-C6H3(CH3)3 SPP-SE0004A_06013_100_100, Gö...",µg/m3,"{'type': 'Feature', 'id': '99', 'properties': ...",{}
...,...,...,...,...,...
4605,5678,"trans-NO SPP-SE159388_07757_100_100, Norunda S...",ng/m2/day,"{'type': 'Feature', 'id': '5039', 'properties'...",{}
4606,5423,"α-DBE-DBCH SPP-FI00427_10259_100_100, Pallas -...",pg/m3,"{'type': 'Feature', 'id': '4791', 'properties'...",{}
4607,5112,"α-DBE-DBCH SPP-SE0014R_10259_100_100, Råö - 46...",pg/m3,"{'type': 'Feature', 'id': '4680', 'properties'...",{}
4608,5424,"β-DBE-DBCH SPP-FI00427_10260_100_100, Pallas -...",pg/m3,"{'type': 'Feature', 'id': '4792', 'properties'...",{}
4609,5113,"β-DBE-DBCH SPP-SE0014R_10260_100_100, Råö - 46...",pg/m3,"{'type': 'Feature', 'id': '4681', 'properties'...",{}

In [6]:
pd.set_option('max_colwidth', None) 
pd.set_option('display.expand_frame_repr', False)  
df.station

0       {'type': 'Feature', 'id': '4642', 'properties': {'id': '4642', 'label': 'Göteborg Femman - 4642'}, 'geometry': {'type': 'Point', 'coordinates': [11.9702405180056, 57.7090200428988]}}
1             {'type': 'Feature', 'id': '73', 'properties': {'id': '73', 'label': 'Göteborg Femman - 73'}, 'geometry': {'type': 'Point', 'coordinates': [11.9702405180056, 57.7090200428988]}}
2             {'type': 'Feature', 'id': '81', 'properties': {'id': '81', 'label': 'Göteborg Femman - 81'}, 'geometry': {'type': 'Point', 'coordinates': [11.9702405180056, 57.7090200428988]}}
3             {'type': 'Feature', 'id': '80', 'properties': {'id': '80', 'label': 'Göteborg Femman - 80'}, 'geometry': {'type': 'Point', 'coordinates': [11.9702405180056, 57.7090200428988]}}
4             {'type': 'Feature', 'id': '99', 'properties': {'id': '99', 'label': 'Göteborg Femman - 99'}, 'geometry': {'type': 'Point', 'coordinates': [11.9702405180056, 57.7090200428988]}}
                                                                                                 ...
4605     {'type': 'Feature', 'id': '5039', 'properties': {'id': '5039', 'label': 'Norunda Stenen - 5039'}, 'geometry': {'type': 'Point', 'coordinates': [17.5052777714625, 60.0858333349818]}}
4606             {'type': 'Feature', 'id': '4791', 'properties': {'id': '4791', 'label': 'Pallas - 4791'}, 'geometry': {'type': 'Point', 'coordinates': [24.1170005798339, 67.9670028686523]}}
4607                                  {'type': 'Feature', 'id': '4680', 'properties': {'id': '4680', 'label': 'Råö - 4680'}, 'geometry': {'type': 'Point', 'coordinates': [11.9142, 57.3937]}}
4608             {'type': 'Feature', 'id': '4792', 'properties': {'id': '4792', 'label': 'Pallas - 4792'}, 'geometry': {'type': 'Point', 'coordinates': [24.1170005798339, 67.9670028686523]}}
4609                                  {'type': 'Feature', 'id': '4681', 'properties': {'id': '4681', 'label': 'Råö - 4681'}, 'geometry': {'type': 'Point', 'coordinates': [11.9142, 57.3937]}}
Name: station, Length: 4610, dtype: object

In [7]:
pd.set_option('display.expand_frame_repr', False) 
df.parameters

0       {}
1       {}
2       {}
3       {}
4       {}
        ..
4605    {}
4606    {}
4607    {}
4608    {}
4609    {}
Name: parameters, Length: 4610, dtype: object

###  Stations

In [8]:
url = urlbase + "stations"
r = http.request('GET', url) 
dfStations = pd.read_json(r.data.decode('utf-8')) 
dfStations

         type    id                                    properties                                                                geometry
0     Feature  3630      {'id': '3630', 'label': 'Abisko - 3630'}  {'type': 'Point', 'coordinates': [19.0629997253418, 68.3529968261719]}
1     Feature  3631      {'id': '3631', 'label': 'Abisko - 3631'}  {'type': 'Point', 'coordinates': [19.0629997253418, 68.3529968261719]}
2     Feature  3632      {'id': '3632', 'label': 'Abisko - 3632'}  {'type': 'Point', 'coordinates': [19.0629997253418, 68.3529968261719]}
3     Feature  3633      {'id': '3633', 'label': 'Abisko - 3633'}  {'type': 'Point', 'coordinates': [19.0629997253418, 68.3529968261719]}
4     Feature  3634      {'id': '3634', 'label': 'Abisko - 3634'}  {'type': 'Point', 'coordinates': [19.0629997253418, 68.3529968261719]}
...       ...   ...                                           ...                                                                     ...
4364  Feature  1464  {'id': '1464', 'label': 'Övertorneå - 1464'}  {'type': 'Point', 'coordinates': [23.6574993133545, 66.3877029418945]}
4365  Feature  1615  {'id': '1615', 'label': 'Övertorneå - 1615'}  {'type': 'Point', 'coordinates': [23.6574993133545, 66.3877029418945]}
4366  Feature  1725  {'id': '1725', 'label': 'Övertorneå - 1725'}  {'type': 'Point', 'coordinates': [23.6574993133545, 66.3877029418945]}
4367  Feature  3783  {'id': '3783', 'label': 'Övertorneå - 3783'}  {'type': 'Point', 'coordinates': [23.6574993133545, 66.3877029418945]}
4368  Feature   953    {'id': '953', 'label': 'Övertorneå - 953'}  {'type': 'Point', 'coordinates': [23.6574993133545, 66.3877029418945]}

[4369 rows x 4 columns]

In [9]:
url = urlbase + "stations/3630"
r = http.request('GET', url) 
print(r.data)
dfStations3630 = pd.read_json(r.data.decode('utf-8')) 
dfStations3630

b'{"type":"Feature","id":"3630","properties":{"timeseries":{"1015":{"phenomenon":{"id":"2076","label":"pH"},"procedure":{"id":"2255","label":"SPP-SE0093R_02076_100_100"},"category":{"id":"2076","label":"pH"},"offering":{"id":"2255","label":"SPP-SE0093R_02076_100_100"},"feature":{"id":"3630","label":"Abisko - 3630"},"service":{"id":"1","label":"SwedischEPA, SHMI"}}},"id":"3630","label":"Abisko - 3630"},"geometry":{"type":"Point","coordinates":[19.0629997253418,68.3529968261719]}}'

                type    id                                                                                                                                                                                                                                                                                                                                          properties                              geometry
timeseries   Feature  3630  {'1015': {'phenomenon': {'id': '2076', 'label': 'pH'}, 'procedure': {'id': '2255', 'label': 'SPP-SE0093R_02076_100_100'}, 'category': {'id': '2076', 'label': 'pH'}, 'offering': {'id': '2255', 'label': 'SPP-SE0093R_02076_100_100'}, 'feature': {'id': '3630', 'label': 'Abisko - 3630'}, 'service': {'id': '1', 'label': 'SwedischEPA, SHMI'}}}                                   NaN
id           Feature  3630                                                                                                                                                                                                                                                                                                                                                3630                                   NaN
label        Feature  3630                                                                                                                                                                                                                                                                                                                                       Abisko - 3630                                   NaN
type         Feature  3630                                                                                                                                                                                                                                                                                                                                                 NaN                                 Point
coordinates  Feature  3630                                                                                                                                                                                                                                                                                                                                                 NaN  [19.0629997253418, 68.3529968261719]

In [28]:
url = urlbase + "phenomena"
print(url)

r = http.request('GET', url) 
print(r.status,len(r.data))
print(type(r.data.decode('utf-8')))
df = pd.read_json(r.data) 
#data = json.load(r)
#print (data)

https://datavardluft.smhi.se/52North/api/v1/phenomena
200 29881
<class 'str'>

In [29]:
df.sample(19)

        id                                                 domainId                  label
202    678   http://dd.eionet.europa.eu/vocabulary/aq/pollutant/678                PCB-138
106    629   http://dd.eionet.europa.eu/vocabulary/aq/pollutant/629                   Ca++
100  10147  http://dd.eionet.europa.eu/vocabulary/aq/pollutant/7851                  CDFX1
168    657   http://dd.eionet.europa.eu/vocabulary/aq/pollutant/657                     K+
159     13    http://dd.eionet.europa.eu/vocabulary/aq/pollutant/13                     Hg
13   10253  http://dd.eionet.europa.eu/vocabulary/aq/pollutant/4920                Anti-DP
143    486   http://dd.eionet.europa.eu/vocabulary/aq/pollutant/486         H3C-(CH2)3-CH3
177     35    http://dd.eionet.europa.eu/vocabulary/aq/pollutant/35                    NH3
37    5029  http://dd.eionet.europa.eu/vocabulary/aq/pollutant/5029            BaP in PM10
258   5049  http://dd.eionet.europa.eu/vocabulary/aq/pollutant/5049              V in PM10
263  10012   http://dd.eionet.europa.eu/vocabulary/aq/pollutant/773       alpha-Endosulfan
166  10017   http://dd.eionet.europa.eu/vocabulary/aq/pollutant/778            Isoproturon
262  10112  http://dd.eionet.europa.eu/vocabulary/aq/pollutant/7773       alpha-Endosulfan
86   10041  http://dd.eionet.europa.eu/vocabulary/aq/pollutant/4845                  CDF6X
284   2076  http://dd.eionet.europa.eu/vocabulary/aq/pollutant/2076                     pH
103     24    http://dd.eionet.europa.eu/vocabulary/aq/pollutant/24          CH2=CH-CH=CH2
171  10110  http://dd.eionet.europa.eu/vocabulary/aq/pollutant/7909                   MCCP
271     83    http://dd.eionet.europa.eu/vocabulary/aq/pollutant/83  cis-H3C-HC=CH-CH2-CH3
231  10245  http://dd.eionet.europa.eu/vocabulary/aq/pollutant/2873                  PFOSA

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 294 entries, 0 to 293
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        294 non-null    int64
 1   domainId  294 non-null    object
 2   label     294 non-null    object
dtypes: int64(1), object(2)
memory usage: 7.0+ KB

In [ ]:
df.sort_values()